alias copyssh="pbcopy < $HOME/.ssh/id_ed25519.pub"

alias storm='open -a /Applications/PhpStorm.app "`pwd`"'
alias code='open -a "/Applications/Visual Studio Code.app" "`pwd`"'

alias phpunit='vendor/bin/phpunit'
alias pest='vendor/bin/pest'
alias pd='phpunit --testdox'
alias c='composer'
alias a='php artisan'

alias g='git'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gco='git checkout'
alias gf='git fetch'
alias gp='git pull'
alias gs='git status'
alias gundo='git reset HEAD~1'
alias gbin='git reset --hard;git clean -df'
alias push='git push'
alias gll='git log --oneline --decorate'
alias glg='git log --graph --oneline --decorate'
